<h4 class="text-center mb-5">Crie uma conta para iniciar sua sessão</h4>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-100" hideRequiredMarker>
        <mat-label>Nome Completo</mat-label>
        <input matInput formControlName="name" type="text">
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="w-100" hideRequiredMarker>
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" type="email">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100" hideRequiredMarker>
        <mat-label>Celular</mat-label>
        <input matInput formControlName="celphone" mask="(00) 0 0000-0000">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100" hideRequiredMarker>
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" type="password">
    </mat-form-field>

    <button mat-flat-button color="primary" class=" bg-success fw-bold fs-5 py-4 w-100" type="submit">Criar conta</button>
</form>