<div class="main-content py-0">
    <!-- Indicators Area -->
    <div class="d-flex justify-content-center flex-wrap col-lg-12">
        <div class="d-flex justify-content-between flex-wrap col-lg-9 mx-3">
            <div class="card col-md-3 col-12 mb-3">
                <div class="card-body text-center d-flex flex-column">
                    <div class="w-100 d-flex align-items-center">
                        <div class="flex-grow-1 text-center">
                            <span class="mat-title text-primary fw-bold">Disponível</span>
                        </div>
                    </div>
                    <span
                        class="mat-title d-flex flex-grow-1 justify-content-center align-items-center mb-0">{{totalValue | currencyValue}}</span>
                </div>
            </div>
            <div class="card col-md-3 col-12 mb-3">
                <div class="card-body text-center d-flex align-items-center">
                    <div class="col-11">
                        <div class="w-100 d-flex align-items-center">
                            <div class="flex-grow-1 text-center">
                                <span class="mat-title text-primary ml-4 fw-bold">Receita do Mês</span>
                            </div>
                        </div>
                        <span class="mat-title d-flex flex-grow-1 justify-content-center align-items-center mb-0 text-success">{{totalReceive | currencyValue}}</span>
                    </div>
                    <div class="col-1">
                        <div class="cursor-pointer d-flex align-items-center justify-content-center" (click)="navigateToManagment('receive')">
                            <i class="material-icons material-symbols-outlined text-primary" style="font-size: 20px;">visibility</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 col-12 mb-3">
                <div class="card-body text-center d-flex align-items-center">
                    <div class="col-11">
                        <div class="w-100 d-flex align-items-center">
                            <div class="flex-grow-1 text-center">
                                <span class="mat-title text-primary ml-4 fw-bold">Despesas do Mês</span>
                            </div>
                        </div>
                        <span class="mat-title d-flex flex-grow-1 justify-content-center align-items-center mb-0 text-danger">{{totalExpense | currencyValue}}</span>
                    </div>
                    <div class="col-1">
                        <div class="cursor-pointer d-flex align-items-center justify-content-center" (click)="navigateToManagment('expense')">
                            <i class="material-icons material-symbols-outlined text-primary" style="font-size: 20px;">visibility</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My Wealth: Chart Area -->
    <div class="container-fluid d-flex flex-wrap justify-content-center px-lg-5">
        <div class="card mb-3 w-100">
            <div class="card-header bg-success d-flex justify-content-between">
                <h4 class="text-white">Meu Patrimônio</h4>
            </div>
            <div class="card-body d-flex flex-wrap">
                <div class="row mx-0 d-flex col-12 col-md-6 custom-border-right">
                    <span class="w-100 text-center mat-title text-primary fw-bold">Receitas / Despesas</span>
                    <div class="d-flex flex-column justify-content-center align-items-center w-100 h-75">
                        <div class="text-center mt-0" *ngIf="!hasReceiveExpenseChartData">
                            <div class="d-flex flex-column justify-content-center align-items-center"
                                style="height: 368px">
                                Você ainda não possui receitas
                            </div>
                        </div>
                        <div class="col-12 col-md-6" *ngIf="hasReceiveExpenseChartData">
                            <canvas #receiveExpenseChart class="pt-4"></canvas>
                            <div class="d-flex align-items-center mat-subheading-2 justify-content-center no-wrap-scroll text-center mt-3 w-100">
                                <div class="mx-2 d-flex align-items-center">
                                    <span class="legend-color mr-1 rounded-circle"
                                        [ngStyle]="{'background-color': 'rgb(94, 208, 144)'}"></span>
                                    Receitas
                                </div>
                                <div class="mx-2 d-flex align-items-center">
                                    <span class="legend-color mr-1 rounded-circle"
                                        [ngStyle]="{'background-color': 'rgb(208, 100, 100)'}"></span>
                                    Despesas
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0 d-flex col-md-6 mt-4 mt-lg-0">
                    <span class="w-100 text-center mat-title text-primary fw-bold">Despesas durante o ano</span>
                    <div class="d-flex flex-column justify-content-center align-items-center w-100 h-75">
                        <div class="text-center mt-0" *ngIf="!hasHistoryData">
                            <div class="d-flex flex-column justify-content-center align-items-center"
                                style="height: 368px">
                                Você ainda não possui despesas
                            </div>
                        </div>
                        <div class="w-100 pt-4" *ngIf="hasHistoryData">
                            <canvas #historyChart class="my-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- My Wealth: Table Area -->
        <div class="row col-lg-12 overflow-x-auto">
            <div class="col-lg-6 ps-lg-0">
                <div class="card">
                    <div class="card-header bg-body-tertiary text-primary d-flex">
                        <div class="col-11 text-center align-self-center">
                            <h5 class="fw-bold">Receitas</h5>
                        </div>
                        <div class="col-1 align-self-center">
                            <h5 class="mb-0">
                                <a class="nav-link mx-0 pointer align-self-center" (click)="navigateToManagment('receive')" routerLinkActive="active" matTooltip="Adicionar">
                                    <i class="material-icons fw-bold" style="vertical-align: middle">add</i>
                                </a>
                            </h5>
                        </div>
                    </div>
                    <div class="card-body py-0">
                        <div class="overflow-y-auto">
                            <table mat-table [dataSource]="receiveList">
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary fw-bold"> Data </th>
                                    <td mat-cell class="no-wrap-cell" *matCellDef="let element"> {{element.date | date: 'dd/MM'}} </td>
                                </ng-container>
                              
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary fw-bold"> Nome </th>
                                    <td mat-cell class="no-wrap-cell" *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>
                              
                                  <!-- Weight Column -->
                                <ng-container matColumnDef="class">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary fw-bold"> Classe </th>
                                    <td mat-cell class="no-wrap-cell" *matCellDef="let element"> {{element.class}} </td>
                                </ng-container>
                              
                                  <!-- Symbol Column -->
                                <ng-container matColumnDef="totalValue">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary fw-bold"> Valor </th>
                                    <td mat-cell class="no-wrap-cell" *matCellDef="let element"> {{element.totalValue | currencyValue}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="['date', 'name', 'class', 'totalValue']; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['date', 'name', 'class', 'totalValue'];"></tr>
                                      
                                <!--empty message-->
                                <tr class="mat-row" *matNoDataRow>
                                    <td colspan="4" class="max-cell text-center" style="vertical-align: middle; height: 240px">Nenhum registro encontrado</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0 mt-4 mt-md-0">
                <div class="card">
                    <div class="card-header bg-body-tertiary text-primary d-flex">
                        <div class="col-11 text-center align-self-center">
                            <h5 class="fw-bold">Despesas</h5>
                        </div>
                        <div class="col-1 align-self-center">
                            <h5 class="mb-0">
                                <a class="nav-link mx-0 pointer align-self-center" (click)="navigateToManagment('expense')" routerLinkActive="active" matTooltip="Adicionar">
                                    <i class="material-icons fw-bold" style="vertical-align: middle">add</i>
                                </a>
                            </h5>
                        </div>
                    </div>
                    <div class="card-body py-0">
                        <div class="overflow-y-auto">
                            <table mat-table [dataSource]="expenseList">
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary fw-bold"> Data </th>
                                    <td mat-cell class="no-wrap-cell" *matCellDef="let element"> {{element.date | date: 'MM/yy'}} </td>
                                <td mat-footer-cell *matFooterCellDef> Adicionar </td>
                                </ng-container>
                                  
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary fw-bold"> Nome </th>
                                    <td mat-cell class="no-wrap-cell" *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>
                                  
                                <!-- Weight Column -->
                                <ng-container matColumnDef="class">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary fw-bold"> Classe </th>
                                  <td mat-cell class="no-wrap-cell" *matCellDef="let element"> {{element.class}} </td>
                                </ng-container>
                                  
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="installments">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary fw-bold"> Parcelas </th>
                                    <td mat-cell class="no-wrap-cell" *matCellDef="let element"> {{element.installments | numberValue}} </td>
                                </ng-container>
                                  
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="totalValue">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary fw-bold"> Valor </th>
                                    <td mat-cell class="no-wrap-cell" *matCellDef="let element"> {{element.totalValue | currencyValue}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="['date', 'name', 'class', 'installments', 'totalValue']; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['date', 'name', 'class', 'installments', 'totalValue'];"></tr>
                                    
                                <!--empty message-->
                                <tr class="mat-row" *matNoDataRow>
                                    <td colspan="5" class="max-cell text-center" style="vertical-align: middle; height: 240px">Nenhum registro encontrado</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>