.legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.my-chart {
    width: 100% !important;
    height: 100% !important;
    display: block;
}

.no-wrap-scroll {
    white-space: nowrap;
    overflow-x: auto;
    flex-shrink: 0;
    width: 100%;
}

.no-wrap-scroll::-webkit-scrollbar {
    height: 8px;
}

.no-wrap-scroll.has-scrollbar {
    justify-content: flex-start !important;
}

.no-wrap-scroll::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.no-wrap-scroll::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.custom-border-right {
    border-right: 1px solid #dee2e6; /* Ajuste a cor conforme necessário */
}

.mt-lg-0 {
    margin-top: 0px;
}

@media (max-width: 768px) { /* 768px é o breakpoint para md no Bootstrap */
    .custom-border-right {
        border-right: 0px;
        border-bottom: 1px solid #dee2e6 !important;
        padding-bottom: 1.5rem !important;
    }
}
