.legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.my-chart {
    width: 100% !important;
    height: 100% !important;
    display: block;
}

table{
    min-width: 100%;
}

.overflow-y-auto {
    white-space: nowrap;
    overflow-y: auto;
    flex-shrink: 0;
    height: 300px;
}

.overflow-y-auto::-webkit-scrollbar {
    height: 100%;
    width: 4px;
}

.overflow-y-auto.has-scrollbar {
    justify-content: flex-start !important;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 1px;
}

.custom-border-right {
    border-right: 1px solid #dee2e6;

    @media (max-width: 768px) { /* 768px é o breakpoint para md no Bootstrap */
        border-right: 0px;
        border-bottom: 1px solid #dee2e6 !important;
        padding-bottom: 1.5rem !important;
    }
}

.pointer{
    cursor: pointer;
}

.mt-lg-0 {
    margin-top: 0px;
}

.no-wrap-cell{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
