<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-success text-white d-flex">
                            <div class="col-12 align-self-center">
                                <h4 class="card-title ">Gerenciar Patrimônio</h4>
                            </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex row">
                            <div class="col-12 col-md-6 custom-border-right">
                                <canvas #assetTypeChart class="my-chart"></canvas>
                            </div>
                            <div class="col-12 col-md-6 py-md-5">
                                <div class="row py-3 px-md-5" *ngFor="let classType of classTypeList">
                                    <span class="col-6 col-md-6">{{classType}}:</span><span class="col-6 text-end">{{getTotalValueByClass(classType) | currencyValue}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center mb-3">
                            <div class="col-12 col-md-10">
                                <div class="row">
                                    <form class="d-flex" [formGroup]="filterGroup" (ngSubmit)="onSubmit(filterGroup.value, filterGroup.valid)">
                                        <div class="col-12 col-md-2 my-2 my-md-0 mx-3">
                                            <mat-form-field appearance="outline" class="col-12" [formGroup]="range">
                                                <mat-date-range-input [rangePicker]="picker">
                                                    <input matStartDate formControlName="start" placeholder="Data Inicial">
                                                    <input matEndDate formControlName="end" placeholder="Data Final">
                                                </mat-date-range-input>
                                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-date-range-picker #picker></mat-date-range-picker>
                                          </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-3 my-2 my-md-0 pe-2">
                                            <mat-form-field formControlName="name" appearance="outline" class="w-100 input-text">
                                                <mat-label>Nome</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-2 my-2 my-md-0 px-2">
                                            <mat-form-field appearance="outline" class="w-100 input-text">
                                                <mat-label>Classe</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-2 my-2 my-md-0 px-2">
                                            <mat-form-field appearance="outline" class="w-100 input-text">
                                                <mat-label>Valor Mínimo</mat-label>
                                                <input type="text" matInput doubleNumber [maxValue]="9999999">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-2 my-2 my-md-0 ps-2">
                                            <mat-form-field appearance="outline" class="w-100 input-text">
                                                <mat-label>Valor Máximo</mat-label>
                                                <input type="text" matInput doubleNumber [maxValue]="9999999">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-2 d-flex my-2 my-md-0 justify-content-center align-items-center">
                                          <button id="filter" type="submit" mat-button mat-raised-button color="primary">Buscar</button>
                                        </div>
                                      </form>
                                    <!-- <div class="col-12 col-md-3 my-2 my-md-0">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                                <input matStartDate formControlName="start" placeholder="Data Inicial">
                                                <input matEndDate formControlName="end" placeholder="Data Final">
                                            </mat-date-range-input>
                                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-date-range-picker #picker></mat-date-range-picker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-md-3 my-2 my-md-0">
                                        <mat-form-field appearance="outline" class="w-100 input-text">
                                            <mat-label>Nome</mat-label>
                                            <input matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-md-2 my-2 my-md-0">
                                        <mat-form-field appearance="outline" class="w-100 input-text">
                                            <mat-label>Classe</mat-label>
                                            <input matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-md-2 my-2 my-md-0">
                                        <mat-form-field appearance="outline" class="w-100 input-text">
                                            <mat-label>Valor Mínimo</mat-label>
                                            <input type="text" matInput doubleNumber [maxValue]="9999999">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-md-2 my-2 my-md-0">
                                        <mat-form-field appearance="outline" class="w-100 input-text">
                                            <mat-label>Valor Máximo</mat-label>
                                            <input type="text" matInput doubleNumber [maxValue]="9999999">
                                        </mat-form-field>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="d-flex my-3 overflow-x-auto">
                            <button mat-button *ngFor="let type of classTypeList"
                                (click)="toggleSelection(type)"
                                [ngClass]="{'selected': isSelected(type), 'not-selected': !isSelected(type)}">
                                {{ type }}
                            </button>
                        </div>
                        <mat-tab-group (selectedTabChange)="onTabChanged($event)"
                            [selectedIndex]="getSelectedIndex">
                            <mat-tab *ngFor="let categoryType of categoryTypeList" [label]="categoryType">
                                <table mat-table [dataSource]="assets">    
                                    <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef class="text-primary fw-bold"> Data </th>
                                        <td mat-cell class="no-wrap-cell" *matCellDef="let element"> {{element.date | date: 'dd/MM/yy'}} </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef class="text-primary fw-bold"> Nome </th>
                                        <td mat-cell class="no-wrap-cell" *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                              
                                    <!-- Weight Column -->
                                  <ng-container matColumnDef="class">
                                      <th mat-header-cell *matHeaderCellDef class="text-primary fw-bold"> Classe </th>
                                      <td mat-cell class="no-wrap-cell" *matCellDef="let element"> {{element.class}} </td>
                                  </ng-container>
                                  
                                  <!-- Symbol Column -->
                                  <ng-container matColumnDef="installments">
                                      <th mat-header-cell *matHeaderCellDef class="text-primary fw-bold"> Parcelas </th>
                                      <td mat-cell class="no-wrap-cell" *matCellDef="let element"> {{element.installments | numberValue}} </td>
                                  </ng-container>
                                
                                    <!-- Symbol Column -->
                                  <ng-container matColumnDef="amount">
                                      <th mat-header-cell *matHeaderCellDef class="text-primary fw-bold"> Valor </th>
                                      <td mat-cell class="no-wrap-cell" *matCellDef="let element"> {{element.amount | currencyValue}} </td>
                                  </ng-container>
                                
                                  <!-- Symbol Column -->
                                <ng-container matColumnDef="star">
                                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                                    <td mat-cell class="no-wrap-cell" *matCellDef="let element">
                                        <button mat-icon-button (click)="editRow(element)">
                                            <mat-icon class="icon-font text-warning">edit</mat-icon>
                                        </button>
                                        <button mat-icon-button (click)="deleteRow(element)">
                                            <mat-icon class="icon-font text-danger">delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="['date', 'name', 'class', 'installments', 'amount', 'star']; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['date', 'name', 'class', 'installments', 'amount', 'star'];"></tr>
                                </table>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>