body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.overflow {
  height: 100vh;
  overflow-y: auto;
}

.overflow::-webkit-scrollbar {
    height: 100%;
    width: 6px;
}

.overflow.has-scrollbar {
    justify-content: flex-start !important;
}

.overflow::-webkit-scrollbar-thumb {
    background-color: #ccc;
}