<div class="sidebar" [class.mobile-footer]="isMobileMenu()">
    <div *ngIf="!isMobileMenu()" class="sidebar-content">
        <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary sidebar" style="width: 73.5px;">
            <a [routerLink]="'home'" class="d-block p-3 link-body-emphasis text-decoration-none text-center" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Icon-only">
                <span class="material-symbols-outlined">
                    monitoring
                </span>
            </a>
            <div class="d-flex flex-column flex-grow-1 justify-content-center">
                <ul class="nav nav-pills nav-flush flex-column text-center">
                    <li class="nav-item" *ngFor="let item of centerItems">
                        <a class="nav-link mx-0" [routerLink]="[item.path]" routerLinkActive="active" matTooltip="{{ item.title }}">
                            <i class="material-icons">{{item.icon}}</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column justify-content-end">
                <ul class="nav nav-pills nav-flush flex-column text-center">
                    <li class="nav-item" *ngFor="let item of bottomItems">
                        <a class="nav-link mx-0" [routerLink]="[item.path]" routerLinkActive="active" matTooltip="{{ item.title }}">
                            <i class="material-icons">{{item.icon}}</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Conteúdo do footer para Mobile -->
    <div *ngIf="isMobileMenu()" class="footer-content d-flex justify-content-around">
        <a class="nav-link" *ngFor="let menuItem of menuItems" [routerLink]="[menuItem.path]" routerLinkActive="active">
            <i class="material-icons">{{menuItem.icon}}</i>
        </a>
    </div>
</div>