$success: rgb(0, 166, 125);

// Importa o restante dos estilos do Bootstrap
@import "/node_modules/bootstrap/scss/bootstrap";
  
body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}  