$success: rgb(0, 166, 125);

// Importa o restante dos estilos do Bootstrap
@import "/node_modules/bootstrap/scss/bootstrap";
  
body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

::ng-deep .custom-snackbar {
    background-color: rgb(208, 100, 100) !important;
    color: white !important;
}

::ng-deep .custom-snackbar .mat-simple-snackbar-action {
    color: white !important;
}